<div id="list" class="page-layout simple fullwidth" fxLayout="column">
    <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
        name="form" [formGroup]="form">
        <div class="h2 mb-24">Companies</div>
        <div fxLayout="column" fxLayoutGap="20px">
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="15px">

                <!-- ACCOUNT NUMBER FORM -->
                <mat-form-field appearance="outline" fxFlex="auto" class="example-full-width">
                    <mat-label>Company Name</mat-label>
                    <input formControlName="company" matInput placeholder="Ex. No Frills, Loblaws, Rexxal...">
                    <mat-error *ngIf="form.get('company').errors?.required">
                        Company is Required
                    </mat-error>
                </mat-form-field>
                <!-- END ACCOUNT NUMBER FORM -->

                <!-- BANK FORM -->
                <mat-form-field appearance="outline" fxFlex="60%">
                    <mat-label>Select a Type</mat-label>
                    <mat-select formControlName="type_id" disableRipple>
                        <mat-option *ngFor="let type of types" [value]="type.id">
                            {{type.type}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.get('type_id').errors?.required">
                        Type is required.
                    </mat-error>
                </mat-form-field>
                <!-- END BANK FORM -->

            </div>

            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                <!-- ACTIVE STATUS FORM -->
                <mat-slide-toggle formControlName="status">
                    Active?
                </mat-slide-toggle>

            </div>


            <!-- BUTTONS FORM -->
            <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="15px">
                <button mat-raised-button type="button" color="warn" (click)="back()">
                    <mat-icon class="mr-1">arrow_back</mat-icon>
                    Back
                </button>
                <div fxLayout="row">
                    <button [disabled]="!form.valid" icon="'add'" (click)="submit()" mat-raised-button
                        color="primary">Submit</button>
                </div>
            </div>




        </div>
    </form>

</div>