<div id="list"  class="mat-elevation page-layout simple fullwidth" fxLayout="column">
    <mat-card>
        <form fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form" [formGroup]="form">
            <div class="h2 mb-24">Invoices </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <mat-progress-spinner *ngIf="this.isLoading == true || this.companies.length == 0 || this.cards.length == 0" color="primary" mode="indeterminate"
                    [diameter]="25">
                </mat-progress-spinner>
            </div>
            <div *ngIf="isLoading==false && this.companies.length > 0 && this.cards.length > 0" fxLayout="column" fxLayoutGap="20px">
                <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="15px">
                    <!-- INVOICE DATE FORM -->
                    <mat-form-field appearance="outline" fxFlex="auto">
                        <mat-label>Invoice Date</mat-label>
                        <input formControlName="invoice_date" matInput [matDatepicker]="picker"
                            placeholder="mm/dd/YYYY">
                        <mat-error *ngIf="form.get('invoice_date').errors?.required">
                            Date is Required.
                        </mat-error>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <!-- END INVOICE DATE FORM -->
                    <!-- INVOICE VALUE FORM -->
                    <mat-form-field appearance="outline" fxFlex="auto" class="example-full-width">
                        <mat-label>Invoice Value</mat-label>
                        <input formControlName="invoice_value" placeholder="Ex. 30.00" matInput>
                        <mat-error *ngIf="form.get('invoice_value').errors?.isNumber">
                            Invoice Value is Invalid.
                        </mat-error>
                        <mat-error *ngIf="form.get('invoice_value').errors?.required">
                            Invoice Value is required.
                        </mat-error>
                    </mat-form-field>
                    <!-- END INVOICE VALUE FORM -->
                    <!-- IN OUT FORM -->
                    <mat-form-field appearance="outline" fxFlex="auto">
                        <mat-label>Select Income or Outcome</mat-label>
                        <mat-select formControlName="is_income" disableRipple>
                            <mat-option *ngFor="let is_income of is_incomes" [value]="is_income.is_income">
                                {{is_income.value}}</mat-option>
                        </mat-select>
                        <mat-error>
                            Income/Outcome is required.
                        </mat-error>
                    </mat-form-field>
                    <!-- END OUT FORM -->
                </div>
                <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="15px">
                    <!-- CARD FORM -->
                    <mat-form-field appearance="outline" fxFlex="60%">
                        <mat-label>Select Card</mat-label>
                        <mat-select formControlName="card_id" disableRipple>
                            <mat-option *ngFor="let card of cards" [value]="card.id">
                                <div *ngIf="card.is_credit_card">
                                    {{card.chequing.bank.bank_initials}} --
                                    {{card.card_number}} --
                                    Credit --
                                    {{card.chequing.holder.holder_name}}
                                </div>
                                <div *ngIf="!card.is_credit_card">
                                    {{card.chequing.bank.bank_initials}} --
                                    {{card.card_number}} --
                                    Debit --
                                    {{card.chequing.holder.holder_name}}
                                </div>
                            </mat-option>
                        </mat-select>
                        <mat-error>
                            Card is required.
                        </mat-error>
                    </mat-form-field>
                    <!-- END CARD FORM -->
                    <!-- COMPANY FORM -->
                    <mat-form-field appearance="outline" fxFlex="60%">
                        <mat-label>Select Company</mat-label>
                        <mat-select formControlName="company_id" disableRipple>
                            <mat-option *ngFor="let company of companies" [value]="company.id">
                                {{company.company}} -- {{company.type.type}}
                            </mat-option>
                        </mat-select>
                        <mat-error>
                            Company is required.
                        </mat-error>
                    </mat-form-field>
                    <!-- END COMPANY FORM -->
                </div>
                <!-- BUTTONS FORM -->
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
                    <button *ngIf="!data.uuid" mat-raised-button type="button" color="warn" (click)="back()">
                        <mat-icon class="mr-1">arrow_back</mat-icon>
                        Back
                    </button>
                    <button *ngIf="data.uuid" mat-raised-button type="button" color="warn" (click)="closeDialog()">
                        <mat-icon class="mr-1">close</mat-icon>
                        Close
                    </button>
                    <div *ngIf="data.uuid" fxLayout="row">
                        <button [disabled]="!form.valid" icon="'add'" (click)="saveChanges()" mat-raised-button
                            color="primary">Change</button>
                    </div>
                    <div *ngIf="!data.uuid" fxLayout="row">
                        <button [disabled]="!form.valid" icon="'add'" (click)="submit()" mat-raised-button
                            color="primary">Create</button>
                    </div>
                </div>
            </div>
        </form>
    </mat-card>
    </div>